.App {
  text-align: center;
  margin: 2rem;
}

.checklist {
  list-style-type: none;
  padding: 0;
}

.checklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checklist-item input[type="checkbox"] {
  margin-right: 8px;
}

h1 {
  font-size: 50px;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

input, button {
  font-size: 24px;
}

li {
  font-size: 20px;
}

